<H1>Welcome to Cooking School!</H1>

<p><a asp-controller="Author" asp-action="Create">Create a course</a></p>

<p><a asp-controller="Book" asp-action="Create">Create a student</a></p>

<p><a asp-controller="Author" asp-action="ViewAll">View all courses</a></p>

<p><a asp-controller="Book" asp-action="ViewAll">View all students</a></p>